.appDetails{
    display:flex;
    gap:2rem;
    padding:1em;
    box-shadow:5px 5px 10px 3px rgba(0, 0, 0, 0.25);
    color:var(--grey);
}

.left > img{
    width: 80%;
    height: 300px;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

.para{
    text-align: justify;
}


@media screen and (max-width:1020px) {
    .appDetails{
        flex-direction: column;
        align-items: center;
        gap:1.25rem;
    }
    .left{
        display: flex; 
        justify-content: center;
        width: 85%;
    }
    
    .right{
        width: 70%;
        justify-content: flex-start;
    }
    
    .left > img{
        width: 750px !important;
        height: 350px;
    }
    
}

@media screen and (max-width:650px) {

    .left > img{
        width: 450px;
        height: 250px;
    }

    .right{
        width: 85%;
    }

    .right > h1{
        font-size: 1.2rem;
    }
    

}

@media screen and (max-width:500px) {

    .left > img{
        width: 300px;
        height: 120px;
    }

    .right{
        width: 70%;
    }
    
}
