.upwardIcon{
    display: "flex";
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1.5rem;
    bottom: 2.5rem;
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 50%;
    padding: 0.25rem;
}

/* @media screen and (max-width:800px) {
    .upwardIcon{
        right: 1.5rem;
        bottom: 7rem;
    }
} */